<%- include ('partials/_headers'); %>

<div class="container">
  <div class="row">
    <!--FORM-->
    <div class="col-md-5 offset-md-3">
      <div class="card">
        <div class="card-body">
          <form action="/edit/<%= tasks._id %>" method="post">
            <div class="form-floating mb-3 mt-3">
              <input type="text" class="form-control" id="articulo" placeholder="Ingrese Articulo" name="article" value="<%= tasks.article %>">
              <label for="email">Articulo</label>
            </div>
            <div class="form-floating mt-3 mb-3">
              <input type="text" class="form-control" id="cantidad" placeholder="Ingrese Cantidad" name="amount" value="<%= tasks.amount %>">
              <label for="pwd">Cantidad</label>
            </div>
            <div class="form-floating">
              <input class="form-control" placeholder="Ingrese Descripcion" id="descripcion" name="description" value="<%= tasks.description %>"></input>
              <label for="floatingTextarea">Descripción</label>
            </div>
            <div class="form-floating mt-3 mb-3">
              <input type="text" class="form-control" id="color" placeholder="Ingrese Color" name="color" value="<%= tasks.color %>">
              <label for="pwd">Color</label>
            </div>
            <button type="submit" class="btn btn-success">Actualizar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include ('partials/_footer');%>